
@model senasistencia.Models.cliente

@{
    ViewBag.Title = "Crear";
}



<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Cliente</h4>
    <div class="divider"></div>
    <div class="section">
           @Html.HiddenFor(model => model.ID_DocumentoCliente)
          <div class="col s12 m5 offset-m1 input-field">
             @Html.EditorFor(model => model.ID_DocumentoCliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.ID_DocumentoCliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5  input-field">
              @Html.DropDownList("ID_Tipo_Documento", null, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.ID_Tipo_Documento, "ID_Tipo_Documento", htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 offset-m1 input-field">
             @Html.EditorFor(model => model.PrimerNombre_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.PrimerNombre_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5  input-field">
             @Html.EditorFor(model => model.SegundoNombre_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.SegundoNombre_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 offset-m1 input-field">
             @Html.EditorFor(model => model.PrimerApellido_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.PrimerApellido_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 input-field">
             @Html.EditorFor(model => model.SegundoApellido_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.SegundoApellido_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 offset-m1 input-field">
             @Html.EditorFor(model => model.Correo_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.Correo_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 input-field">
             @Html.EditorFor(model => model.Telefono_Cliente, new { htmlAttributes = new { @class = "" } })   
            @Html.LabelFor(model => model.Telefono_Cliente, htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 offset-m1 input-field">
            @Html.DropDownList("ID_Cargo", null, htmlAttributes: new { @class = "form-control" })
            @Html.LabelFor(model => model.ID_Cargo, "ID_Cargo", htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 input-field">
            @Html.DropDownList("ID_Perfil", null, htmlAttributes: new { @class = "form-control" })
            @Html.LabelFor(model => model.ID_Perfil, "ID_Perfil", htmlAttributes: new { @class = "" })

          </div>
          <div class="col s12 m5 offset-m1 input-field">
             @Html.EditorFor(model => model.FechaDeCreacion_Cliente, new { htmlAttributes = new { @type = "date" } })   
            

          </div>
          
          
        <div class="col s12 m5 offset-m1 margen">
			<!--el estado solo estara disponible para edicion-->
            <input class="filled-in" id="Estado_Cliente" name="Estado_Cliente" type="checkbox" value="true" checked>
            @Html.LabelFor(model => model.Estado_Cliente)
        </div>

                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Guardar" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>