@model IEnumerable<senasistencia.Models.cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="highlight bordered responsive-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo.Tipo_Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perfil.Perfil1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_documento.Nombre_TipoDeDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerNombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoNombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo.Tipo_Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perfil.Perfil1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento.Nombre_TipoDeDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerNombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoNombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInactivacion_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DocumentoCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DocumentoCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DocumentoCliente })
        </td>
    </tr>
}

</table>
