@model senasistencia.Models.ficha

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ficha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ambiente_formacion.ID_Ambiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ambiente_formacion.ID_Ambiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jornada.Descripcion_Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jornada.Descripcion_Jornada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.programa_formacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.programa_formacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trimestre.ID_Trimestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trimestre.ID_Trimestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Ficha }) |
    @Html.ActionLink("Back to List", "Index")
</p>
