
@model senasistencia.Models.ficha

@{
    ViewBag.Title = "Editar";
}

<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Ficha</h4>
    <div class="divider"></div>
    <div class="section">
           @Html.HiddenFor(model => model.ID_Ficha)
          <div class="col s12 m10 offset-m1 input-field">
            @Html.EditorFor(model => model.Num_Ficha, new { htmlAttributes = new { @class = "" } }) 
            @Html.LabelFor(model => model.Num_Ficha, htmlAttributes: new { @class = "" })
          </div>
          <div class="col s12 m10 offset-m1 input-field">
             @Html.DropDownList("ID_Ambiente", null, htmlAttributes: new { @class = "" })    
            @Html.LabelFor(model => model.ID_Ambiente, "ID_Ambiente", htmlAttributes: new { @class = "" })
          </div>
          <div class="col s12 m10 offset-m1 input-field">
             @Html.DropDownList("ID_Trimestre", null, htmlAttributes: new { @class = "" })    
            @Html.LabelFor(model => model.ID_Trimestre, "ID_Trimestre", htmlAttributes: new { @class = "" })
          </div>
          <div class="col s12 m10 offset-m1 input-field">
             @Html.DropDownList("ID_Programa", null, htmlAttributes: new { @class = "" })    
            @Html.LabelFor(model => model.ID_Programa, "ID_Programa", htmlAttributes: new { @class = "" })
          </div>
          <div class="col s12 m10 offset-m1 input-field">
              @Html.DropDownList("ID_Jornada", null, htmlAttributes: new { @class = "" })   
            @Html.LabelFor(model => model.ID_Jornada, "ID_Jornada", htmlAttributes: new { @class = "" })
          </div>
            <div class="col s12 m10 offset-m1 input-field">
            @Html.EditorFor(model => model.FechaDeCreacion_Ficha, new { htmlAttributes = new { @type = "date" } })
            </div>
				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado" name="Estado" type="checkbox" value="true" checked>
        @Html.HiddenFor(model => model.Estado)


                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Guardar" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        