@model IEnumerable<senasistencia.Models.FICHA>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Ficha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numeroficha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centro_de_formacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ambiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trimestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jornada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoFicha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inactivacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprendiz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Ficha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numeroficha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Centro_de_formacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ambiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trimestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jornada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFicha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inactivacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprendiz)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
