<div class="nav-wrapper">
    <div class="col s12">
        <a href="@ViewBag.Listado" class="breadcrumb active">@ViewBag.Tab</a>
        <a href="@ViewBag.Crear" class="breadcrumb">@ViewBag.TabC</a>
        <a href="@ViewBag.Editar" class="breadcrumb @ViewBag.clase">@ViewBag.TabE</a>
    </div>
</div>
