@model senasistencia.Models.programa_formacion

@{
    ViewBag.Title = "Crear";
}

<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Programa de formacion</h4>
    <div class="divider"></div>
    <div class="section">
           
          <div class="col s12 m10 offset-m1 input-field">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })
          </div>
          @Html.LabelFor(model => model.FechaDeCreacion_Programa, htmlAttributes: new { @class = "col s12 m10 offset-m1 input-field" })
          <div class="col s12 m10 offset-m1 input-field">
            @Html.EditorFor(model => model.FechaDeCreacion_Programa, new { htmlAttributes = new { @type = "date" } })
          </div>
				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado_Programa" name="Estado_Programa" type="checkbox" value="true" checked>
        @Html.HiddenFor(model => model.Estado_Programa)


                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Crear" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>