@model senasistencia.Models.programa_formacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>programa_formacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Programa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Programa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
