
@model senasistencia.Models.jornada

@{
    ViewBag.Title = "Crear";
}




<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Jornada</h4>
    <div class="divider"></div>
    <div class="section">
        @Html.HiddenFor(model => model.ID_Jornada)
          <div class="col s12 m10 offset-m1 input-field">
             @Html.EditorFor(model => model.Descripcion_Jornada, new { htmlAttributes = new { @class = "" } })
              @Html.LabelFor(model => model.Descripcion_Jornada, htmlAttributes: new { @class = "control-label col-md-2" }) 
          </div>
        @Html.LabelFor(model => model.FechaDeCreacion_Jornada, htmlAttributes: new { @class = "col s12 m10 offset-m1 inputfield" })  
          <div class="col s12 m10 offset-m1 input-field">
               @Html.EditorFor(model => model.FechaDeCreacion_Jornada, new { htmlAttributes = new { @type = "date" } })
              
          </div>
          <div class="col s12 m10 offset-m1 ">
				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado_Jornada" name="Estado_Jornada" type="checkbox" value="true" checked>
        @Html.LabelFor(model => model.Estado_Jornada)
</div>

                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Guardar" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>