@model senasistencia.Models.centro_formacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>centro_formacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Centro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion_Centro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Centro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Centro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Centro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Centro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Centro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Centro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
