@model senasistencia.Models.ambiente_formacion

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>
<div class="col s12 m8 push-m2 card-panel margen">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row formulario">

            <h4 class="center-align">Ambiente de formacion</h4>
            <div class="divider"></div>
            <div class="section">
                @Html.HiddenFor(model => model.ID_Ambiente)
                <div class="col s12 m10 offset-m1 input-field">
                    @Html.EditorFor(model => model.Num_Ambiente)
                    @Html.LabelFor(model => model.Num_Ambiente)
                </div>

                <div class="col s12 m10 offset-m1 input-field">
                    @Html.DropDownList("ID_Sede", null, htmlAttributes: new { @class = "" })
                    @Html.LabelFor(model => model.ID_Sede)
                </div>
                <!--el estado solo estara disponible para edicion-->
                
                 @Html.EditorFor(model => model.Estado_Ambiente)
                @Html.LabelFor(model => model.Estado_Ambiente)

                <div class="col s12 m10 offset-m1 input-field">
                    @Html.EditorFor(model => model.FechaDeCreacion_Ambiente, new { htmlAttributes = new { @type = "date" } })

                </div>
            </div>
            <div class="col s12 m12 center-align">
                <input type="submit" value="Crear" class="btn waves-effect" />
            </div>
        </div>

    }
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
