@model Boolean?

@if (Model == false)
{
    <input type="checkbox" class="filled-in" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")" value=false checked />
    <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("")">@ViewData.TemplateInfo.GetFullHtmlFieldName("")</label>
}
else if (Model == true)
{
    <input type="checkbox" class="filled-in" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")" value=true checked/>
    <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("")">@ViewData.TemplateInfo.GetFullHtmlFieldName("")</label>
}
else
{
    <input type="checkbox" class="filled-in" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")" value=false checked/>
    <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("")">@ViewData.TemplateInfo.GetFullHtmlFieldName("")</label>
}
