@model senasistencia.Models.password_token

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>password_token</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario.Password_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.Password_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Token)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Token }) |
    @Html.ActionLink("Back to List", "Index")
</p>
