@model IEnumerable<senasistencia.Models.password_token>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="highlight bordered responsive-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Password_Hash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token_Hash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Token)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Password_Hash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token_Hash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion_Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInactivacion_Token)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Token }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Token }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Token })
        </td>
    </tr>
}

</table>
