@model senasistencia.Models.notificacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>notificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aprendiz.Nombre_Aprendiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprendiz.Nombre_Aprendiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.PrimerNombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.PrimerNombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formato_Ftp.Nombre_Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato_Ftp.Nombre_Formato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensaje_Notificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje_Notificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Notificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Notificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Notificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Notificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Notificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
