@model IEnumerable<senasistencia.Models.notificacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="highlight bordered responsive-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aprendiz.Nombre_Aprendiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.PrimerNombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formato_Ftp.Nombre_Formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensaje_Notificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Notificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Notificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aprendiz.Nombre_Aprendiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.PrimerNombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formato_Ftp.Nombre_Formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensaje_Notificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion_Notificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInactivacion_Notificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Notificacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Notificacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Notificacion })
        </td>
    </tr>
}

</table>
