@model senasistencia.Models.asistencia

@{
    ViewBag.Title = "Crear";
   
}

<<<<<<< HEAD


<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Asistencia</h4>
    <div class="divider"></div>
    <div class="section">
           
          <div class="col s12 m10 offset-m1 input-field">
                @Html.DropDownList("ID_DocumentoAprendiz", null, htmlAttributes: new { @class = "" })
                @Html.LabelFor(model => model.ID_DocumentoAprendiz, "ID_DocumentoAprendiz", htmlAttributes: new { @class = "" })
          </div>

           <div class="col s12 m10 offset-m1">
             <input class="filled-in" id="Descripcion_Asistencia" name="Descripcion_Asistencia" type="checkbox" value="true" checked>
            @Html.LabelFor(model => model.Descripcion_Asistencia)

          </div>

          <div class="col s12 m10 offset-m1 input-field">
               @Html.EditorFor(model => model.Fecha_Asistencia, new { htmlAttributes = new { @type = "date" } }) 
          </div>

          <div class="col s12 m10 offset-m1 input-field">
                @Html.EditorFor(model => model.FechaDeCreacion_Asistencia, new { htmlAttributes = new { @type = "date" } })
          </div>
          

          <div class="col s12 m10 offset-m1 input-field">
                
          </div>

				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado_Asistencia" name="Estado_Asistencia" type="checkbox" value="true" checked>
            @Html.HiddenFor(model => model.Estado_Asistencia)


                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Crear" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
=======
<h2>Create</h2>

<div class="col s12 m8 push-m2 card-panel margen"></div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row formulario">
        <h4>asistencia</h4>
        <div class="divider"></div>
        <div class="section" >      
        <div class="col s12 m6 input-field">
            
                @Html.DropDownList("ID_DocumentoAprendiz", null, htmlAttributes: new { @class = "form-control" })
            @Html.LabelFor(model => model.ID_DocumentoAprendiz, "ID_DocumentoAprendiz", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="col s12 m6 input-field">
            <input class="filled-in" data-val="true" data-val-required="El campo Descripcion Asistencia es obligatorio." id="Descripcion_Asistencia" name="Descripcion_Asistencia" type="checkbox" value="true" checked>
                   
         
       

        </div>

        <div class="col s12 m6 input-field">
            
                @Html.EditorFor(model => model.Fecha_Asistencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.Fecha_Asistencia, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="col s12 m6 input-field">
            <input class="filled-in" data-val="true" data-val-required="El campo Estado Asistencia es obligatorio." id="Estado_Asistencia" name="Estado_Asistencia" type="checkbox" value="true" checked>
                    @Html.EditorFor(model => model.Estado_Asistencia)
       
            @Html.LabelFor(model => model.Estado_Asistencia)

        </div>

        <div class="col s12 m6 input-field">
            
            
                @Html.EditorFor(model => model.FechaDeCreacion_Asistencia, new { htmlAttributes = new { @class = "form-control" } })
        </div>

      
</div>
        <div class="col s12 m6 input-field">
            
                <input type="submit" value="Crear" class="btn btn-default" />

        </div>
    </div>
}
</div>
<div>
>>>>>>> 6a31e7e17797926084d397515887ddb967bbd65a
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
