@model senasistencia.Models.asistencia

@{
    ViewBag.Title = "Editar";
   
}



<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Asistencia</h4>
    <div class="divider"></div>
    <div class="section">
           @Html.HiddenFor(model => model.ID_Asistencia)
          <div class="col s12 m10 offset-m1 input-field">
                @Html.DropDownList("ID_DocumentoAprendiz", null, htmlAttributes: new { @class = "" })
                @Html.LabelFor(model => model.ID_DocumentoAprendiz, "ID_DocumentoAprendiz", htmlAttributes: new { @class = "" })
          </div>

           <div class="col s12 m10 offset-m1">
             <input class="filled-in" id="Descripcion_Asistencia" name="Descripcion_Asistencia" type="checkbox" value="true" checked>
            @Html.LabelFor(model => model.Descripcion_Asistencia)

          </div>

          <div class="col s12 m10 offset-m1 input-field">
               @Html.EditorFor(model => model.Fecha_Asistencia, new { htmlAttributes = new { @type = "date" } }) 
          </div>

          <div class="col s12 m10 offset-m1 input-field">
                @Html.EditorFor(model => model.FechaDeCreacion_Asistencia, new { htmlAttributes = new { @type = "date" } })
          </div>
          

          <div class="col s12 m10 offset-m1 input-field">
                
          </div>

				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado_Asistencia" name="Estado_Asistencia" type="checkbox" value="true" checked>
            @Html.LabelFor(model => model.Estado_Asistencia)


                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Guardar" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
