@model senasistencia.Models.excusa

@{
    ViewBag.Title = "Crear";
}




<div class="col s12 m8 push-m2 card-panel margen">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="row formulario">

    <h4 class="center-align">Excusa</h4>
    <div class="divider"></div>
    <div class="section">
           
          <div class="col s12 m10 offset-m1 input-field">
            @Html.DropDownList("ID_DocumentoAprendiz", null, htmlAttributes: new { @class = "" })  
            @Html.LabelFor(model => model.ID_DocumentoAprendiz, "ID_DocumentoAprendiz", htmlAttributes: new { @class = "" })
          </div>
          @Html.LabelFor(model => model.Fecha_Excusa, htmlAttributes: new { @class = "col s12 m5 offset-m1 input-field" })
          <div class="col s12 m10 offset-m1 input-field">
            
            @Html.EditorFor(model => model.Fecha_Excusa, new { htmlAttributes = new { @type = "date" } })
  
          </div>
@Html.LabelFor(model => model.Periodo_Excusa, htmlAttributes: new { @class = "col s12 m5 offset-m1 input-field" })
          <div class="col s12 m10 offset-m1 input-field">
            
            @Html.EditorFor(model => model.Periodo_Excusa, new { htmlAttributes = new { @type = "date" } })
    
          </div>
@Html.LabelFor(model => model.FechaDeCreacion_Excusa, htmlAttributes: new { @class = "col s12 m5 offset-m1 input-field" })
          <div class="col s12 m10 offset-m1 input-field">             
            
            @Html.EditorFor(model => model.FechaDeCreacion_Excusa, new { htmlAttributes = new { @type = "date" } })   
          </div>



				<!--el estado solo estara disponible para edicion-->
        <input class="filled-in" id="Estado_Excusa" name="Estado_Excusa" type="checkbox" value="true" checked>
        @Html.HiddenFor(model => model.Estado_Excusa)


                
      </div>
          <div class="col s12 m12 center-align">
              <input type="submit" value="Crear" class="btn waves-effect" />
          </div>
      </div>

        }
</div>


<div class="input-field col s12 m10 push-s1">
    @Html.ActionLink("Listado", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>