@model senasistencia.Models.excusa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>excusa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aprendiz.Nombre_Aprendiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprendiz.Nombre_Aprendiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Excusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Excusa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo_Excusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo_Excusa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Excusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Excusa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Excusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Excusa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Excusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Excusa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Excusa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
