@model IEnumerable<senasistencia.Models.excusa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aprendiz.Nombre_Aprendiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Excusa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo_Excusa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Excusa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Excusa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Excusa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aprendiz.Nombre_Aprendiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Excusa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo_Excusa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Excusa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion_Excusa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInactivacion_Excusa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Excusa }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Excusa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Excusa })
        </td>
    </tr>
}

</table>
