@model IEnumerable<senasistencia.Models.perfil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Perfil1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Perfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion_Perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInactivacion_Perfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Perfil }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Perfil }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Perfil })
        </td>
    </tr>
}

</table>
