@model senasistencia.Models.tipo_documento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tipo_documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_TipoDeDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_TipoDeDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nomenclatura_TipoDeDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomenclatura_TipoDeDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_TipoDeDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_TipoDeDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion_Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion_Doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInactivacion_Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInactivacion_Doc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Tipo_Documento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
